@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');

* {
  font-family: 'IBM Plex Sans KR', sans-serif;
}

/*utility*/
.ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

.blind {
  position: absolute;
  width: 1px; 
  height: 1px; 
  clip: rect(0 0 0 0); 
  overflow: hidden;
}


header {
  height:75px;
}

.wrap_header {
  width:100%;
  max-width: 1296px;
  margin:0 auto;
  padding: 0;
  display:flex;
  justify-content: space-between;
  background-color: white;
}

.wrap_header h1{
  display:inline-block;
}

.logo-kakao {
  padding-top:24px;
  height:28px;
}

.menu_header {
  padding:20px 0;
  display:inline-flex;
  justify-content: space-between;
  width:450px;
}

.menu_header:hover li a {
  color:gainsboro;
}


.menu_header li {
  display: inline-block;
  font-size:16px;
  font-weight:600;
  padding-top:10px;
  width:calc(100%/4);
  text-align: center;
}

.menu_header li:hover a {
  color:black;
}

.menu_header li a {
  display:block;
}

.area_util ul{
  padding-top:24px;
  width:140px;
  display:inline-flex;
  justify-content: space-between;
}
.area_util ul li {
  display:inline-flex;
  justify-content: center;
  align-items: center;
}

.area_util ul li button{
  background-color: transparent;
  border:0px;
  width:40px;
  height:40px;
  border-radius: 20px;
  font-size:34px;
}

.area_util ul li i {
  font-size:20px;
  vertical-align: 10px;
}
.area_util ul li button:hover{
  cursor:pointer;
  background-color: gainsboro;
}

/* section1 */

main {
  width: 1296px;
  margin:0 auto;
}
.content-header{
  height:176px;
  width:100%;
  font-weight:600;
  font-size:46px;
  padding-top:96px;
}

.content-header em::before{
  background: url("./image/ico_date5.gif") no-repeat;
  background-size:contain;
  display:inline-block;  
  content:'';
  width:70px;
  height:70px;
  vertical-align: -18px;
}

.content-header h3{
  display:inline-block; 
}

.emph_title{
  display:block;
}

.txt_title{
  line-height:64px;
}

/* content */

.main-content {
  position: relative;
  padding-top:42px;
  display:flex;
  align-items: baseline;
  height:936px;
  flex-direction: column;
  flex-wrap: wrap;
}
.content-card {
  display: inline-block;
  border-radius: 20px;
  box-shadow: 5px 8px 20px 5px rgba(0,0,0,0.1);
}

.content-card:hover {
  transform: translateY(-10px);
  box-shadow: 5px 8px 15px 10px rgba(0,0,0,0.1);
}

.content-card.big {
  width: 625px;
  height:700px;
}

.content-card.sticky {
  position:sticky;
  top:0;
}
.content-card.small {
  height: 197px;
}

.content-card {
  width: 297px;
  height: 420px;
  margin-bottom:38px;
}

.card-nav {
  position:relative;
  padding:25px 35px 20px 24px; 
  justify-content:space-between;
  overflow: hidden;
}

.card-nav i {
  color:gray;
}

.card-nav .press, .card-nav .invest {
  position:relative;
  width:47px;
  height:14px;
  display:block;
  float:left;
  font-size:13px;
  padding:10px 13px;
  margin-left:10px;
  border-radius: 10px;
  background-color: #eee;
}

.card-nav .respon {
  position:relative;
  width:66px;
  height:14px;
  display:block;
  float:left;
  font-size:13px;
  padding:10px 13px;
  margin-left:10px;
  border-radius: 10px;
  background-color: #eee;
}

.card-nav .press::after,.card-nav .invest::after, .card-nav .respon::after {
  position:absolute;
  top:-1px;
  left:-3px;
  background:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath d='M0 0c3.003 2.178 4.963 5.706 4.961 9.699V18H18C18 8.059 9.941 0 0 0' fill='%23eee' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat;
  display: block;
  content: '';
  width:10px;
  height:10px;
  color:#eee;
}

.card-nav i {
  float:right;
}

.press-icon::before {
  background: url("./image/speaker.png") no-repeat;
  background-size:contain;
  display:block;  
  width:30px;
  height:30px;
  content:'';
  float:left;
}

.invest-icon::before {
  background: url("./image/chart.png") no-repeat;
  background-size:contain;
  display:block;  
  width:30px;
  height:30px;
  content:'';
  float:left;
}

.respon-icon::before {
  background: url("./image/ico_responsible.png") no-repeat;
  background-size:contain;
  display:block;  
  width:30px;
  height:30px;
  content:'';
  float:left;
}

.card-header {
  padding: 0 24px;
  position:relative;
}

.big .card-header {
  height: 147px;
}

.card-header {
  height:127px;
}

.card-title {
  font-weight:600;
  margin-bottom:30px;
  font-size:22px;
  line-height:30px;
  -webkit-box-orient: vertical;
}

.card-title.big{
  font-size:32px;
  line-height:38px;
  
}

.hashtag, .date {
  color:grey;
  font-size:14px;
  position:absolute;
  bottom:24px;
}

.news-img {
  width:100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.price {
  font-size:40px;
}

.price .change {
  font-size:14px;
}

.info-down {
  color:#ff3b3b;
  font-size:14px;
  margin-top:20px;
  vertical-align: 10px;
  font-weight: 700;
}